<div class = "noselect">
    <div class = "box">
        <span class = "title"> Modificar datos</span>
        <div class = "content">
            <div class = "data">
                <form [formGroup]="getAdminForm()">
                    <input type="text" formControlName="names" placeholder="Nombres">
                    <input type="text" formControlName="lastNames" placeholder="Apellidos">
                    <input type="text" formControlName="password" placeholder="Contraseña">
                </form>
                <form [formGroup]="getCitizenForm()">
                    <input type="text" formControlName="names" placeholder="Nombres">
                    <input type="text" formControlName="lastNames" placeholder="Apellidos">
                    <input type="text" formControlName="address" placeholder="Dirección">
                    <input type="text" formControlName="phoneNum" placeholder="Número de telefono">
                    <select type="text" formControlName="neighHood" placeholder="Barrio">
                        <option value="1">
                            Barrio 1
                        </option>
                        <option value="2">
                            Barrio 2
                        </option>
                    </select>
                    
                    <input type="text" formControlName="password" placeholder="Contraseña">
                </form>
                <form [formGroup]="getHealthEnForm()">
                    <input type="text" formControlName="names" placeholder="Nombre">
                    <input type="text" formControlName="address" placeholder="Dirección">
                    <input type="text" formControlName="phoneNum" placeholder="Número de telefono">
                    <select type="text" formControlName="neighHood" placeholder="Barrio">
                        <option value="1">
                            Barrio 1
                        </option>
                        <option value="2">
                            Barrio 2
                        </option>
                    </select>
                    
                    <input type="text" formControlName="password" placeholder="Contraseña">
                </form>
                <form [formGroup]="getPublicEsForm()">
                    <input type="text" formControlName="names" placeholder="Nombre">
                    <input type="text" formControlName="address" placeholder="Dirección">
                    <input type="text" formControlName="phoneNum" placeholder="Número de telefono">
                    <select type="text" formControlName="neighHood" placeholder="Barrio">
                        <option value="1">
                            Barrio 1
                        </option>
                        <option value="2">
                            Barrio 2
                        </option>
                    </select>
                    
                    <input type="text" formControlName="password" placeholder="Contraseña">
                    <input type="text" formControlName="category" placeholder="Categoría">
                </form>
                <div class="actions">
                    <button class="btn" ><span>Aceptar</span></button>
                </div>    
            </div>
        </div>
    </div>
</div>