<div class = "noselect">
    <div class = "box">
        <div class = "content">
            <form [formGroup]="getAdminForm()" [ngClass]="sameRole(getRoleName('ADMIN')) ? '':'hide'">
                <input type="text" formControlName="name" placeholder="Nombre">
                <input type="text" formControlName="lastname" placeholder="Apellido">
                <input type="password" formControlName="password" placeholder="Contraseña">
            </form>
            <form [formGroup]="getCitizenForm()" [ngClass]="sameRole(getRoleName('CITIZEN')) ? '':'hide'">
                <input type="text" formControlName="name" placeholder="{{ getCitizenForm().get('name').value }}">
                <input type="text" formControlName="lastname" placeholder="Apellido">
                <input type="text" formControlName="address" placeholder="Dirección">
                <input type="text" formControlName="phoneNum" placeholder="Número de telefono">
                <select type="text" formControlName="neighHood" placeholder="Barrio">
                    <option value="" disabled selected>Seleccionar barrio</option>
                    <option *ngFor="let neighborhood of getNeighborhood()" value="{{ neighborhood.getId() }}">
                        {{ neighborhood.getName() }}
                    </option>
                </select>
                <input type="text" formControlName="password" placeholder="Contraseña">
            </form>
            <form [formGroup]="getHealthEnForm()" [ngClass]="sameRole(getRoleName('ES')) ? '':'hide'">
                <input type="text" formControlName="name" placeholder="Nombre">
                <input type="text" formControlName="address" placeholder="Dirección">
                <input type="text" formControlName="phoneNum" placeholder="Número de telefono">
                <select type="text" formControlName="neighHood" placeholder="Barrio">
                    <option value="" disabled selected>Seleccionar barrio</option>
                    <option *ngFor="let neighborhood of getNeighborhood()" value="{{ neighborhood.getId() }}">
                        {{ neighborhood.getName() }}
                    </option>
                </select>
                <input type="password" formControlName="password" placeholder="Contraseña">
            </form>
            <form [formGroup]="getPublicEsForm()" [ngClass]="sameRole(getRoleName('EP')) ? '':'hide'">
                <input type="text" formControlName="name" placeholder="Nombre">
                <input type="text" formControlName="address" placeholder="Dirección">
                <input type="text" formControlName="phoneNum" placeholder="Número de telefono">
                <select type="text" formControlName="neighHood" placeholder="Barrio">
                    <option value="" disabled selected>Seleccionar barrio</option>
                    <option *ngFor="let neighborhood of getNeighborhood()" value="{{ neighborhood.getId() }}">
                        {{ neighborhood.getName() }}
                    </option>
                </select>
                <input type="password" formControlName="password" placeholder="Contraseña">
                <input type="text" formControlName="category" placeholder="Categoría">
            </form>
            <button class="actions" (click)="update()" [disabled]="!getFormAccordingToRole().valid"><span>Actualizar</span></button>
        </div>
    </div>
</div>