<div class = "noselect">
    <div class = "box">
        <form [formGroup]="getSearchForm()" class="filter">
            <input type="text" placeholder="Que desea filtrar...">
            <select type="text">
                <option value="" disabled selected>Filtrar por</option>
                <option value="id">Documento</option>
                <option value="state">Estado</option>
            </select>
        </form>
        <div class = "columns">
            <div *ngFor = "let col of getCols()" class ="column">
                <span>{{ col }}</span>
            </div>
        </div>
        <div class = "table">
            <div class="rows">
                <div *ngFor="let user of getRows()" class="row">
                    <div class="detail"><span>{{ user.getId() }}</span></div>
                    <div class="detail"><span>{{ user.getRol() }}</span></div>
                    <div class="detail"><span>{{ user.getName() }}</span></div>
                    <div class="detail"><span>{{ user.getLastname() }}</span></div>
                    <div class="detail"><span>{{ user.getState() }}</span></div>
                    <div class="detail"><span>{{ user.getUsername() }}</span></div>
                    <div class="detail"><span>{{ user.getCity() }}</span></div>
                    <div class="detail"><span>{{ user.getDepartment() }}</span></div>
                    <div class="action">
                        <button [disabled]="user.isActive()" (click)="enable(user.getId(), user.getUsername())">Habilitar</button>
                        <button [disabled]="!user.isActive()" (click)="disable(user.getId(), user.getUsername())">Deshabilitar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>