<div class = "noselect">
    <div class = "box">
        <form [formGroup]="getFilterForm()" class="filter">
            <input type="text" placeholder="Que desea filtrar...">
            <select type="text">
                <option value="" disabled selected>Filtrar por</option>
                <option value="date">Fechas</option>
                <option value="name">Nombre</option>
                <option value="id">Documento</option>
                <option value="result">Resultado</option>
            </select>
        </form>
        <div class = "columns">
            <div *ngFor = "let col of getCols()" class ="column">
                <span>{{ col }}</span>
            </div>
        </div>
        <div class = "table">
            <div class="rows">
                <div *ngFor="let exam of getRows()" class="row">
                    <div class="detail"><span>{{ exam.getIdCitizen() }}</span></div>
                    <div class="detail"><span>{{ exam.getName() }}</span></div>
                    <div class="detail"><span>{{ exam.getLastname() }}</span></div>
                    <div class="detail"><span>{{ exam.getDate() }}</span></div>
                    <div class="detail"><span>{{ exam.getTime() }}</span></div>
                    <div class="detail"><span>{{ exam.getResult() }}</span></div>
                </div>
            </div>
        </div>
    </div>

</div>