
<div class="noselect">
    <header>
        <div class="content">
            <div class="title">
                <span>Mis Acciones</span>
            </div>
            <div class="user">
                <div class="info">
                    <span class="name">Crack</span>
                </div>
                <div class="image">
                    <img src="assets/icons/user_orange.png" class="orange">
                    <img src="assets/icons/user_white.png" class="white">
                </div>
            </div>
        </div>
    </header>
    <router-outlet></router-outlet>
</div>