<div class = "noselect">
    <div class = "box">
        <span class = "title"> Crear cuenta administrador</span>
        <div class = "content">
            <div class = "data">
                <form [formGroup]="getAdminForm()">
                    <div class = "fields">
                        <input type="text" formControlName="username" placeholder="Nombre usuario">
                        <input type="text" formControlName="password" placeholder="Contraseña">
                        <select type="text" formControlName="docType" placeholder="Tipo de documento">
                            <option value="1">
                                op1
                            </option>
                        </select>
                        <input type="text" formControlName="docNum" placeholder="Número de documento">
                        <input type="text" formControlName="names" placeholder="Nombres">
                        <input type="text" formControlName="lastNames" placeholder="Apellidos">                       
                        
                    </div>
                    

                </form>

            </div>

        </div>

    </div>

</div>